*.R??
*.DBF
*.dbf
*.cdx
*.CDX
SIGMA
KORISN.*
fmk_*.tar.gz
F01_client
F01_server
F01_exe
F01_fin
F01_kalk
bin
*.bak
*.diff
GPARAMS.*
BRINGOUT
SIGMA
*.BAK
*.INI
*.app
*.exe
hb_out.log
.hbmk
*~
.h
.r
*.swp
*.ZIP
*.zip
OUTF.TXT
DATA
data